@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

:root {
    --paragraph-color: hsla(0, 0%, 100%, 0.75);
    --bg-heading-button-color: hsl(0, 0%, 95%);
    --sedan-bg-color: hsl(31, 77%, 52%);
    --suv-bg-color: hsl(184, 100%, 22%);
    --luxury-bg-color: hsl(179, 100%, 13%);
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    font: inherit;
    box-sizing: border-box;
}

body {
    width: 100vw;
    min-height: 100vh;
    background-color: var(--bg-heading-button-color);
}

#section-1 {
    background-color: var(--sedan-bg-color);
}

#section-2 {
    background-color: var(--suv-bg-color);
}

#section-3 {
    background-color: var(--luxury-bg-color);
}

h1 {
    font-family: 'Big Shoulders Display', cursive;
    font-weight: bold;
    font-size: 40px;
    text-transform: uppercase;
    color: var(--bg-heading-button-color);
}

p {
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: var(--paragraph-color);
    line-height: 1.6;
}

/* Declare image as block level element */

.icon {
    display: block;
    margin-bottom: 30px;
}


/* Anchor Tags */

a {
    display: block;
    width: max-content;
}

a:link,
a:visited {
    font-family: 'Lexend Deca', sans-serif;
    font-size: 15px;
    text-decoration: none;
    background-color: var(--bg-heading-button-color);
    border: solid 3px var(--bg-heading-button-color);
    padding: 10px 25px;
    border-radius: 25px;
}

#section-1 :is(a:link, a:visited) {
    color: var(--sedan-bg-color);
}

#section-2 :is(a:link, a:visited) {
    color: var(--suv-bg-color);
}

#section-3 :is(a:link, a:visited) {
    color: var(--luxury-bg-color);
}

/* When Link is being clicked */

:is(#section-1, #section-2, #section-3) > a:active {
    color: var(--bg-heading-button-color);
    user-select: none;
}

#section-1 > a:active {
    background-color: var(--sedan-bg-color);
}

#section-2 > a:active {
    background-color: var(--suv-bg-color);
}

#section-3 > a:active {
    background-color: var(--luxury-bg-color);
}


/* Desktop design */

@media all and (max-width:1440px) {

    .body-flex-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .main-flex-container {
        width: 900px;
        display: flex;
    }

    .column-1-border-radius {
        border-radius: 10px 0 0 10px;
    }

    .column-3-border-radius {
        border-radius: 0 10px 10px 0;
    }

    .main-flex-container > :nth-child(n) {
        padding: 45px;
        flex: 1;
    }

    .main-flex-container > section :is(h1, p) {
        margin: 25px 0;
    }

    .button-top-margin {
        margin-top: 75px;
    }
}

/* Mobile design */

@media all and (max-width:450px) {
    .body-flex-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .main-flex-container {
        display: flex;
        flex-direction: column;
        width: 95%;
        max-width: 330px;
        margin: 100px 0;
    }

    .column-1-border-radius {
        border-radius: 10px 10px 0 0;
    }

    .column-3-border-radius {
        border-radius: 0 0 10px 10px;
    }


    .main-flex-container > :nth-child(n) {
        padding: 50px;
        flex: 0 1 auto;
    }

    .main-flex-container > section :is(h1, p) {
        margin: 30px 0;
    }

    .button-top-margin {
        margin: 0;
    }
}